.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 10;
  z-index: 1;
}

.mat-toolbar {
  margin-bottom: 20px;
  box-shadow: 3px 4px 20px #737373;
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}
