<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Serial Number: {{ pack.serialNumber }} </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item>GTIN: {{ pack.gtin }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Batch: {{ pack.batch }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Expiry: {{ pack.expiry }}</mat-list-item>
  </mat-list>
  <mat-action-row>
    <button mat-button (click)="onDelete()">Remove</button>
  </mat-action-row>
</mat-expansion-panel>
